<!DOCTYPE html>
<html lang="en">

{{!-- HEAD / STYLESHEETS --}}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vault</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
</head>

{{!-- BODY --}}

<body>

  {{!-- NAVIGATION --}}

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/"><i class="fa-solid fa-house"></i>home</a>

      {{!-- navbar "burger" --}}

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>

      {{#if loggedIn}}

      {{!-- <a class="navbar-item" href="/dashboard">dashboard</a> --}}

      <button id="logout" class="button is-primary is-outlined">logout</button>
      {{/if}}
    </div>
  </nav>

  {{!-- HERO --}}

  <div class="hero is-medium">
    <div id="hero" class="hero-body">
      <p class="title">
        <i class="fa-solid fa-fingerprint">Vault</i>
      </p>
      <p class="subtitle">
        Simple. Safe. Secure.
      </p>
    </div>
  </div>

  <main>
    {{{body}}}
  </main>

  {{! FOOTER }}

  <footer id="footer" class="footer">
    <div class="content center">
      <p class="subtitle">
        vault by
        <a href="https://nrenner0211.github.io/my-first-portfolio/">Nicolette Renner</a>
        & <a href="https://github.com/Davon95">Davon Webb</a>
      </p>
    </div>

    <div class="content center">
      Have you done your research on data privacy? 
      
      <a href="https://staysafeonline.org/online-safety-privacy-basics/why-data-privacy-is-necessary-in-todays-world/">learn more</a>
    </div>

  </footer>

  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>