<section>
  <h2>Add</h2>

  <form class="new-item-form">
    <div>
      <label for="title">Nickname</label>
      <input type="text" id="title" name="title" />
    </div>
    <div>
      <label for="content">Secure Item</label>
      <input id="submit" name="content" />
    </div>
    <button type="submit" class="button">Add to Vault</button>
  </form>
</section>

{{#if items.length}}
<section>
  <h2>Your Vault</h2>
  <ol>
    {{#each items as |item|}}
    <li>
      {{> item-info item}}
      <a href="/dashboard/edit/{{item.id}}" class="edit">Edit Item</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-item.js"></script>