<article class="section is-medium">
  <a class="subtitle" href="/dashboard"> &larr; back to dashboard</a>
  <div class="section is-small title">
    edit
  </div>
  <form class="edit-item-form form">
    <div>
      <input class="input" name="title" type="text" placeholder="Update Account Name" />
    </div>

    {{!-- <div>
      <input class="input" name="content" type="text" placeholder="Update Password" value="{{content}}" />
      <span>({{content}})</span>
    </div> --}}

    <button class="button is-primary" type="submit">save</button>
    <button type="button" class="delete-item-btn button is-primary">delete</button>
  </form>
</article>

<script src="/javascript/edit-item.js"></script>
<script src="/javascript/delete-item.js"></script>