{{!-- HEADER --}}

<main class="hero-body">

    <p class="title has-text-grey-lighter center">
      <i class="fa-solid fa-shield-halved"></i>
      Secure Application
    </p>
    <p class="subtitle has-text-grey-lighter center">
      You must sign in or register to continue.
    </p>

</main>

{{! LOGIN }}
<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column card">
        <form class="login-form ">

          <p class="field control has-icons-left">
            <input id="email-login" class="input" type="email" placeholder="Email" />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>

          <p class="field control has-icons-left">
            <input id="password-login" class="input" type="password" autocomplete="on" placeholder="Password" />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>

          <p class="control">
            <button class="login-form button is-primary">
              login
            </button>
          </p>

        </form>
      </div>

      {{! LOGO }}

      <div class="column">
        <i id="logo" class="center fa-solid fa-lock"></i>
      </div>

      {{! SIGN UP }}

      <div class="column card">

        <form class="signup-form">
          <p class="field control has-icons-left">
            <input
              id="username-signup"
              class="input"
              type="username"
              placeholder="Username"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>

          <p class="field control has-icons-left">
            <input
              id="email-signup"
              class="input"
              type="email"
              placeholder="Email"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>

          <p class="field control has-icons-left">
            <input
              id="password-signup"
              class="input"
              type="password"
              placeholder="Password"
              autocomplete="on"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>

          <p class="control">
            <button class="signup-form button is-primary">
              sign up
            </button>
          </p>
        </form>

      </div>
    </div>
  </div>
</div>

<script src="/javascript/login.js"></script>
