<ol class="item-list">
  <li>
    <article class="item">
      <div class="title">
        <a href="{{item_content}}" target="_blank">{{title}}</a>
        <span>({{item_content}})</span>
      </div>
    </article>
  </li>
</ol>