:root {
  --nuketown: #50FFB1;
  --alice-blue: #E8F1F2;
  --smoky-black: #131112;
}

html, body {
  height: 100% !important;
  background-color: var(--smoky-black);
  font-family: 'Ubuntu', sans-serif;
}

#hero {
  background-image: url(/images/keyboard.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: solid 2px var(--nuketown);
}

#logo {
  color: rgba(236, 229, 240, 0.3);
  font-size: 150px;
}

.button {
  font-family: 'Ubuntu', monospace;
}

.card {
  background-color: var(--alice-blue);
  /* width: 80%; */
}

.card-header {
  border-bottom: solid 1px var(--alice-blue);
  font-size: larger;
  font-weight: bold;
  padding-bottom: 10px;
  width: 50%;
}

.card-header:hover {
  border-bottom: solid 1px var(--nuketown);
  cursor: pointer;
  background-color: hsl(0, 0%, 86%);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: var(--smoky-black);
}

.navbar {
  background-color: var(--smoky-black);
  font-size: larger;
}

.subtitle-main {
  color: var(--nuketown);  
}

.title {
  color: var(--nuketown);
}

.vault-box {
  box-shadow: inset;
}
